@model Application.ViewModels.SavePokemonViewModel
@{
    bool editMode = Model.Id == 0 ? false : true;
    ViewData["Title"] = "Guardar Pokemon";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4 class="text-center">@(editMode ? $"Editando el Pokemon: {Model.Name}" : "Creando un nuevo producto")</h4>
                </div>
                <div class="card-body">

                    <form method="post" asp-controller="Pokemon" asp-action="@(editMode ? "Edit":"Create")">

                        <div class="mb-3">
                            <label asp-for="Name" class="form-label">Nombre: </label>
                            <input type="text" asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="ImageUrl" class="form-label">Url de imagen: </label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="TipoPrimario" class="form-label">Tipo Primario: </label>
                            <select asp-for="TipoPrimario" asp-items="@(new SelectList(Model.Typee,"Id","Name"))" class="form-select">
                                <option value="0" disabled>Seleccione un opción</option>
                            </select>
                            <span asp-validation-for="TipoPrimario" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="TipoSecundario" class="form-label">Tipo Secundario: </label>
                            <select asp-for="TipoSecundario" asp-items="@(new SelectList(Model.Typee,"Id","Name"))" class="form-select">
                                <option value="0" disabled>Seleccione un opción</option>
                            </select>
                            <span asp-validation-for="TipoSecundario" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="RegionId" class="form-label">Region: </label>
                            <select asp-for="RegionId" class="form-select">
                                @if (Model.region.Count > 0)
                               {
                                   <option value="">Seleccione un opción</option>
                                    @foreach (var item in Model.region)
                                   {
                                        <option value="@item.Id">@item.Name</option>
                                   }
                               }
                                
                            </select>
                            <span asp-validation-for="RegionId" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="Id"/>

                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a asp-controller="Pokemon" asp-action="Index" class="btn btn-warning">Volver atrás</a>

                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
